{% extends "base.html" %}
{% load static %}

{% block page_title %}ADD BLOG{% endblock %}

{% block css_file  %}
    <link rel="stylesheet" href="{% static "blog/index.css" %}"/>
{% endblock %}


{% block page_content %}
<div class="container">
<form method="POST" action="http://0.0.0.0:8000/addpost" enctype="multipart/form-data" id="data">
 {% csrf_token %}
{{ form }}
<button type="submit" id="submit" class="btn btn-primary"> Save </button>
</form>
</div>
{% endblock %}

{% block script %}
<script language="JavaScript">
    $(document).ready(function() {

        $("form#data").submit(function(e) {
            e.preventDefault();    
            var formData = new FormData(this);
        
            $.ajax({
                url: $(this).attr('action'),
                type: 'POST',
                data: formData,
                success: function (data) {
                    alert("Object added successfully");
                    window.location = "http://0.0.0.0:8000/home";
                    
                    
                },
                cache: false,
                contentType: false,
                processData: false
            });
        });
    });
</script>
{% endblock  %}