{% extends "base.html" %}
{% load static %}

{% block page_title %}Edit {{post.heading}}{% endblock %}

{% block css_file  %}
    <link rel="stylesheet" href="{% static "blog/index.css" %}"/>
{% endblock %}
{% block back_url %}
<li class="nav-item"><a href="{% url "posts-detail-page" post.slug %}" class="nav-link" aria-current="page">
    <button type="button" class="btn btn-outline-secondary btn-sm" >
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"></path>
  </svg>
      <span>Go Back</span>
      </button>
  </a></li>
{% endblock %}
{% block page_content %}

<div class="container contain">
    <h2>Edit Blog Post</h2>
    <form method="POST" action="http://0.0.0.0:8000/updatepost/{{post.id}}" enctype="multipart/form-data" id="data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" >Save Changes</button>
    </form>
</div>


{% endblock %}
{% block script %}
<script>
    $(document).ready(function() {

        $("form#data").submit(function(e) {
            e.preventDefault();    
            var formData = new FormData(this);
            var token = localStorage.getItem('token');
        
            $.ajax({
                url: $(this).attr('action'),
                type: 'PATCH',
                data: formData,
                headers: {
                    'Authorization': `Bearer ${token}`,
                },
                success: function (data) {
                    alert("Blog edited successfully");
                    window.location = "http://0.0.0.0:8000/posts/{{post.slug}}";
                    
                    
                },
                cache: false,
                contentType: false,
                processData: false
            });
        });
    });
</script>
{% endblock  %}