{% extends "base.html" %}
{% load static %}

{% block page_title %}
    MY BLOG
{% endblock %}

{% block css_file  %}
    <link rel="stylesheet" href="{% static "blog/index.css" %}">
{% endblock %}

{% block page_content %}
<div class="b-example-divider"></div>

  <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis">First Blog</h1>
        <p class="lead">Hi, welcome to my blog site where you can read Blog's about various topics.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <a href="{% url "posts-page" %}" class="btn btn-outline-secondary btn-lg px-4" aria-current="page">All Posts</a>
          <a href="{% url "add-post" %}" class="btn btn-outline-secondary btn-lg px-4" aria-current="page">Add Blog</a>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-3" src="https://source.unsplash.com/600x400/?motorbike" alt="" width="720">
      </div>
    </div>
  </div>
<div class="container contain">
</div>
{% endblock %}

{% block script %}
<script>
  async function getData() {
    const token = '{{ token }}';  // Replace with your actual authorization token

    const headers = new Headers({
        'Content-Type': 'application/json',
        'Authorization': `Bearer ${token}`,
    });

    const requestOptions = {
        method: 'GET',
        headers: headers,
    };

    try {
        const res = await fetch('http://0.0.0.0:8000/serial', requestOptions);
        const datas = await res.json();

        datas.forEach((data) => {
            buildPage(data);
        });
    } catch (error) {
      console.error('Error fetching data:', error);
    }
  }

function buildPage(data){
    const card = document.createElement('div');
    const container = document.querySelector('.contain');

    card.classList.add(`card`);
    card.innerHTML = `
    <a href="posts/${data.slug}" style="text-decoration:none" >
    <div class="card__header">
      <img src="${data.image}" alt="card__image"  class="card__image" width="600">
    </div>
    <div class="card__body">
      <span class="tag tag-blue">${data.category}</span>
      <h4>${data.heading}</h4>
    </div>
    <div class="card__footer">
      <div class="user">
        <div class="user__info">
          <h5>${data.username}</h5>
          <small>${data.posted_date}</small>
        </div>
      </div>
    </div>
    </a>`;
  
    container.appendChild(card);
}


document.addEventListener('DOMContentLoaded', getData);
</script>
{% endblock  %}
