{% extends "base.html" %}
{% load static %}

{% block page_title %}BLOG_POST{% endblock %}

{% block css_file  %}
    <link rel="stylesheet" href="{% static "blog/index.css" %}"/>
{% endblock %}

{% block page_content %}

{% comment %} <div class="container">
    <div class="card">
            <div class="card__header">
                <img src="{{ post.image.url }}" alt="card__image"  class="card__image" width="600">
            </div>
             <div class="card__body">
                <span class="tag tag-blue">{{ post.category }}</span>
                <h4>{{ post.heading }}</h4>
            </div>
            <div class="card__footer">
                <div class="user">
                    <img src="https://i.pravatar.cc/40?img=1" alt="user__image" class="user__image">
                    <div class="user__info">
                    <h5>{{ post.user }}</h5>
                    <small>{{ post.posted_date }}</small>
                    </div>
                </div>
            </div> 
    </div>
</div> {% endcomment %}
<div class="container">
    <img src="{{ post.image.url }}" alt="post_image"  class="img-thumbnail" width="500">
    <div class="media-body">
      <h5 class="mt-0">{{ post.heading }}</h5>
      <p>{{ post.user }}</p>
      <small>{{ post.posted_date }}</small>
      <p class="mb-0">{{ post.content }}</p>
      </div>
</div>


{% endblock %}