{% extends "base.html" %}
{% load static %}

{% block page_title %}BLOG_POST{% endblock %}

{% block css_file  %}
    <link rel="stylesheet" href="{% static "blog/index.css" %}"/>
{% endblock %}

{% block page_content %}

<div class="container contain">
    
</div>

{% endblock %}

{% block script %}
<script>
    async function getData() {
        const res = await fetch('http://0.0.0.0:8000/serial/{{ post.id }}');
        const data = await res.json();        
        buildPage(data);
    }
    
    function buildPage(data){
        const body = document.createElement('div');
        const container = document.querySelector('.contain');
    
        body.classList.add(`media-body`);
        container.innerHTML = `
        <img src="${data.image}" alt="post_image"  class="img-thumbnail" width="500">
        `
        body.innerHTML = `
        <h5 class="mt-0">${data.heading}</h5>
        <p>${data.User}</p>
        <small>${data.posted_date}</small>
        <p class="mb-0">${data.content}</p>
        `      
        container.appendChild(body);
    }
    
    document.addEventListener('DOMContentLoaded', getData);
</script>
{% endblock  %}